body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(37, 39, 39);
    color: rgb(240, 240, 247);
}
body a{
  text-decoration: none;
  color: #ff004f;
  
}

#nav-menu{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}
#nav-menu>div:nth-child(2){
    width: 40%;
    display: flex;
    justify-content: space-between;
}

#home{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.home-img{
    margin-top: 50px;
}
.typing{
    color: rgb(57, 57, 187);
    text-decoration: underline;
}

.backline {
    width: 35%;
    height: 1px;
    background-color: #ff004f;
}

.about-section div:nth-child(1){
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.about-section div:nth-child(2){
    text-align: center;
}

#skills{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 2%;
}
.skills-card{
    text-align: center;
}
#projects{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5%;
}
#projects img{
    width: 100%;
}
.project-card{
    text-align: center;
}
.project-card div{
    display: flex;
    justify-content:space-around;
}

.skills_word{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.skills_word h3{
    font-size:22px;
    font-weight:bold;
    color: rgb(238, 119, 119);
}


.contact{
    width: 90%;
    margin: auto;
}
.contact div{
    padding: 1%;
}
.contact_me{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
}
.contact_me h3{
    font-size:22px;
    font-weight:bold;
    color: rgb(238, 119, 119);
}